@import './variables.scss';

.primary {
    color: $primary;
}

.primary-bg {
    background-color: $primary;
}

.puente1 {
    color: $puente1;
}

.puente1-alternative {
    color: $puente1-alternative;
}

.puente1-bg {
    background-color: $puente1;
}

.puente1-alternative-bg {
    background-color: $puente1-alternative;
}

.puente2 {
    color: $puente2;
}

.puente2-alternative {
    color: $puente2-alternative;
}

.puente2-bg {
    background-color: $puente2;
}

.puente2-alternative-bg {
    background-color: $puente2-alternative;
}

.puente3 {
    color: $puente3;
}

.puente3-alternative {
    color: $puente3-alternative;
}

.puente3-bg {
    background-color: $puente3;
}

.puente3-alternative-bg {
    background-color: $puente3-alternative;
}

.puente4 {
    color: $puente4;
}

.puente4-alternative {
    color: $puente4-alternative;
}

.puente4-bg {
    background-color: $puente4;
}

.puente4-alternative-bg {
    background-color: $puente4-alternative;
}