@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

// colors' names
$abbey: #58595B;
$mercury: #E5E5E5;
$white: #FFF;
$regent-gray: #969CA0;
$fiord: #49576C;

$mojo: #C63D43;
$chestnut: #B94849;

$boston-blue: #3280C2;
$viking: #66CDDB;

$spring_leaves: #52875D;
$inch_worm: #A3E22C;

$corn: #DFDC02;
$carrot-orange: #EF8F20;


// colors' roles
$primary: $corn;

$puente1: $spring_leaves;
$puente1-alternative: $inch_worm;

$puente2: $boston-blue;
$puente2-alternative: $viking;

$puente3: $mojo;
$puente3-alternative: $chestnut;

$puente4: $primary;
$puente4-alternative: $carrot-orange;

$dark: $fiord;
$light: $white;

$text-color:$regent-gray;

$light-bg: $mercury;            
$dark-bg: $abbey;

// spacing 
$spacing-sm: 8px;
$spacing-md: 12px;
$spacing-lg: 24px;
$spacing-xlg: 35px;

// fonts size
$font-size-xsm: 8px;
$font-size-sm: 12px;
$font-size-regular: 16px;
$font-size-lg: 18px;
$font-size-xlg: 24px;

// fonts 
$primary-font: 'Space Mono', monospace;
$header-font: 'Source Code Pro', monospace;
$nav-bar-font: 'Sansation';

@font-face {
  font-family: 'Sansation';
  src: url("/src/assets/fonts/sansation/Sansation-Regular.ttf");
 }

 @font-face {
  font-family: "Sansation";
  src: url("/src/assets/fonts/sansation/Sansation-Bold.ttf");
  font-weight: bold;
 }

 @font-face {
  font-family: "Sansation";
  src: url("/src/assets/fonts/sansation/Sansation-Italic.ttf");
  font-style: italic;
 }
 

 @font-face {
  font-family: "Sansation";
  src: url("/src/assets/fonts/sansation/Sansation-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
 }


 @font-face {
  font-family: "Sansation";
  src: url("/src/assets/fonts/sansation/Sansation-Light.ttf");
  font-weight: lighter;
 }

 @font-face {
  font-family: "Sansation";
  src: url("/src/assets/fonts/sansation/Sansation-LightItalic.ttf");
  font-weight: lighter;
  font-style: italic;
 }
