#designinlinecontainer{
  display: inline-block;
  margin-left: 10%;
  width: 120.5vw;
}

.DesignGorilla{
  border: 1px solid white;
  display: inline-block;
  margin-left: 20%;
  width: 100%;
 // border: 1px solid green;
}

#designgorilladiv{
  float: left;
  width: 100%;
 // border: 1px solid red;
  padding: 0;
  height: 80%;
}

#designgorilladivmobile{
  padding-top: 10%;
  width: 65%;
  height: 65%;
}

.tasarim{
  font-family: Source Code Pro;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 1.9vw;
  color: #52875D;
}

.designContainer{
  width: 92vw;
  align-self: center;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.designp{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-top: 2vh;
  font-size: 14px;
  text-align: justify;
  @media screen and (min-width: 1600px) {
    font-size: 18px;
  }
}

#designLogo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}