@import "./fonts";

.Index_LogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.LogoImage {
  width: 312px;
}
.Index_ContactUsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Index_ContactUs {
  opacity: 0;
  animation: .5s ease-in 1.5s appear 1 forwards;
  font-family: 'Space Mono', monospace;
  color: #5F5F5F;
  font-size: 12px;
  a {
    color: #2c2d26;
    // font-weight: bold;
    color: #e32972;
    text-decoration: none;
    border-bottom: 1px solid #e32972;
    // border-bottom: 0.5px solid #2c2d26;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
