@import "./fonts";
@import './partials/classes';


body {
  font-family: $primary-font;
  color: $dark;
  line-height: normal;
  margin: 0;
}


.hide-mobile {
  height: 100%;
  @media (max-width: 700px) {
    display: none;
    height: 0;
  }
}

.hide-desktop {
  @media not all and (max-width: 700px) {
    display: none;
  }
}

div:nth-child(3) {
 max-width: 100%;
}
.Index_LogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.LogoImage {
  width: 312px;
}
.Index_ContactUsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lang{
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  top:1%;
  right:1%;
  display: flex;
  text-align: right;
}

a{
  color: #000000;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

  //button version

  .langpass{
    border: none;
    background: none;
    padding: 5px;
    font-size: 14px;
  }
  .langpass:hover{
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
  }

  .langpass:focus{
    outline: none;
    background: none;
  }


.Index_ContactUs {
  opacity: 0;
  font-family: 'Space Mono', monospace;
  color: #5F5F5F;
  font-size: 12px;
  a {
    // color: #2c2d26;
    // font-weight: bold;
    color: #e32972;
    text-decoration: none;
    // border-bottom: 0.5px solid #2c2d26;
    border-bottom: 1px solid #e32972;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fp-tableCell>div:nth-child(1){
  height: 99.75%;
  border: 0.09px solid white;
}

#animationdiv{
  width: 100%;
  text-align: center;
//border: 1px solid red;
}

#gorilanimation{
  position: absolute;
  width: 120vw;
  height: 96vh;
  top: 4vh;
  left: -31vw;
}

.tech-logo {
  position: absolute;
  bottom: 0;
}

.mobileGorila {
  bottom: -10%;
  position: absolute;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
  transform: translate(-50%, 0);
}


$clr_lang: #000000 !default;
$clr_border: #000000 !default;
$clr_lang--active: #9e0000 !default;
$clr_lang--active-pill: #ffffff !default;
$clr_bg--active: #529427 !default;
// Dimensions
$border-radius: 15px !default;
.lang-switcher {
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
        display: inline-block;
        border-right: 1px solid $clr_border;
        &:last-child {
            border-right: none;
            padding-left: 10px;
        }
        &::before {
          content: none;
        }
        button {
            padding: 3px 5px;
            color: $clr_lang;
            transition: all 0.5s ease;
            display: inline-block;
            height: 100%;
            min-width: 40px;
            text-align: center;
            font-size: 0.6rem;
            color: #000000;
            text-decoration: none;
            font-family: Arial, Helvetica, sans-serif;
            &:hover {
              text-decoration: underline;
            }
            &.is-active {
                color: $clr_lang--active !important;
                cursor: default;
            }
        }
        a {
          padding: 3px 5px;
          color: $clr_lang;
          transition: all 0.5s ease;
          text-decoration: none;
          display: inline-block;
          height: 100%;
          min-width: 40px;
          text-align: center;
          &:hover {
              text-decoration: none;
          }
          &.is-active {
              color: $clr_lang--active !important;
              cursor: default;
          }
      }
    }
}


.p{
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 1.68vmin;
  text-align: justify;
  margin-top: 2vh;
  margin-left: 41vw;
}

ul {
  list-style-type: circle;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 17.7vw;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
  color: #C63D43;
  display: inline;
}

li::before {
  content: "• ";
  color: #DFDC02; /* or whatever color you prefer */
  font-weight: bold;
}

#list{
  margin-top: 0.000001vh !important;
}

.onscreen{
  animation-name: stretch;
  animation-duration: 0.8s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}