@import "./fonts";



div:nth-child(3) {
 max-width: 100%;
}
.Index_LogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.LogoImage {
  width: 312px;
}
.Index_ContactUsWrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lang{
  font-size: 0.6em;
  font-family: Arial, Helvetica, sans-serif;
  position:absolute;
  top:1%;
  right:1%;}

  // anchor tag version

  a{
    color: #000000;
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline;
  }


  //button version

  .langpass{
    border: none;
    background: none;
  }
  .langpass:hover{
    border: none;
    text-decoration: underline;
    background: none;
  }

  .langpass:focus{
    outline: none;
    background: none;
  }


.Index_ContactUs {
  opacity: 0;
  font-family: 'Space Mono', monospace;
  color: #5F5F5F;
  font-size: 12px;
  a {
    // color: #2c2d26;
    // font-weight: bold;
    color: #e32972;
    text-decoration: none;
    // border-bottom: 0.5px solid #2c2d26;
    border-bottom: 1px solid #e32972;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fp-tableCell>div:nth-child(1){
  height: 99.75%;
  border: 0.09px solid white;
}

#animationdiv{
  margin-top: 20%;
  width: 100%;
  height: 30%;
  text-align: center;
//border: 1px solid red;
}

#gorilanimation{
  position: absolute;
  width: 120vw;
  height: 96vh;
  top: 4vh;
  left: -31vw;
}
