@import '../styles/partials/variables';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 92%;
  height: 3.90rem;
  margin-bottom: -1.99vh;

  .navitem {
    width: 40%;
    background-color: transparent;
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    border: 0;
  }

  .LogoImage{
    margin-top: 2.5%;
    width: 12%;
    height: 12%;
    visibility: visible;
  }

  .LogoButton{
    width: 30%;
    height: 45%;
    background: none;
    border: none;
  }

  .LogoButton:focus{
    outline: none;
  }

  .LogoImageHidden{
    width: 30%;
    height: 65%;
    margin: auto;
    float: left;
    visibility: hidden;
  }

  .navitem:hover{
    cursor: pointer;
    animation: navanimation 1s 1;
    animation-direction: alternate;
  }
  @keyframes navanimation {
    0%   { opacity: 0;}
    100%   {opacity: 1;}
  }

  .navitem:focus{
    outline: none;
  }

  button {
    text-decoration: none;
    font-family: $header-font;
  }

  #tasarimid {
    span {
      color: $primary;
      font-size: 0.75em;
    }
    &.active,
    &:hover {
      background-color: $primary;

      span {
        color: $light;
      }
    }
  }

  #yazilim {
    span {
      color: $mulberry;
      font-size: 0.75em;
    }
    &.active,
    &:hover {
      background-color: $mulberry;
      span {
        color: $light;
      }
    }
  }


  #hakkimizda {
    span {
      color: $viking;
      font-size: 0.75em;
    }
    &.active,
    &:hover {
      background-color: $viking;
      span {
        color: $light;
      }
    }
  }

  #iletisim {
    span {
      color: $inch_worm;
      font-size: 0.75em;
    }
    &.active,
    &:hover {
      background-color: $inch_worm;
      span {
        color: $light;
      }
    }
  }

  .icon{
    display: none;
    background: $primary;
    color: #f2f2f2;
    width: 20%;
    border: none;
  }

  .icon:hover{
    background-color: #ffff00;
    color: black;
  }

  .icon:focus{
    outline: none;
  }

}

.notonscreen{
  opacity: 0.3;
}




.onscreen{
  animation-name: stretch;
  animation-duration: 0.8s; 
  animation-timing-function: ease-in-out; 
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes stretch {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}



@media screen and (max-width: 600px) {
  .navbar span:not(:first-child) {display: none;}
  
  .navitem  {
   width: 100% !important;
  }
  .navbar .icon {
    float: right;
    display: block;
  }
  
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: absolute;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive{
    flex-direction: column-reverse;
    display: block;
    height: 2.25rem;
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 6.7rem;
  }

 

  .navbar.responsive span {
    float: none;
    display: inline-block;
    text-align: left;
    width: 100%;
  }

  .icon {
    float: right;
    display: block;
    height: 100%;
  }
  


}

.header {
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.footer {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.renkdegis{
  color: green !important;
}

